*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $color-grey-dark;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-size: 1rem;
    font-family: inherit;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

@media (orientation: portrait) {
    body {
        height: 100vh;
    }

    main {
        height: 100%;
    }
}